*{
	margin: 0;
	padding: 0;
}

header{
	height: 500px;
	background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(../images/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
}

header h1{
	margin: 0 auto;
	max-width: 780px;
	text-align: center;
	font-family: Roboto Slab, serif;
	font-size: 36px;
	font-weight: normal;
	color: white;
	position: relative;
	top: 40%;
}

title {
	max-width: 780px;
	margin-left: auto;
	margin-right: auto;
}

body {
	color: rgb(51, 51, 51);
	font-family: Roboto Slab, serif;
}

#profile{
	margin-top: -50px;
	margin-bottom: 70px;
	text-align: center;
	font-family: Source Sans Pro, sans-serif;
	font-size: 18px;
	line-height: 24px;
}

#author_image{
	width: 100px;
	border: 1px solid white;
	border-radius: 100%
}

#author{
	font-family: Source Sans Pro, sans-serif;
	font-weight:bold;
	font-size: 18px;
	line-height: 24px;
	color: rgb(51, 51, 51);
	max-width: 600px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#date{
	font-family: Source Sans Pro, sans-serif;
	font-size: 18px;
	font-style: italic;
}

#line{
	font-style: italic;
	border-bottom: 2px solid #e6e6e6;
	padding-bottom: 10px;
}

.flex_box{
  display: flex;
  margin-bottom: 74px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

#Introduction_button{
    display: inline-block;
    text-align: center;
	margin-left: 70px;
	margin-right: 130px;
    vertical-align: middle;
    padding: 6px 24px;
    border: 1px solid #5e6270;
    border-radius: 8px;
    background: #989fb6;
    background: -webkit-gradient(linear, left top, left bottom, from(#989fb6), to(#454545));
    background: -moz-linear-gradient(top, #989fb6, #454545);
    background: linear-gradient(to bottom, #989fb6, #454545);
    text-shadow: #3b3d46 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}

#Introduction_button:hover, #Introduction_button:focus{
    border: 1px solid ##757a8c;
    background: #b6bfda;
    background: -webkit-gradient(linear, left top, left bottom, from(#b6bfda), to(#535353));
    background: -moz-linear-gradient(top, #b6bfda, #535353);
    background: linear-gradient(to bottom, #b6bfda, #535353);
    color: #ffffff;
    text-decoration: none;
}

#Introduction_button:active{
    background: #5e6270;
    background: -webkit-gradient(linear, left top, left bottom, from(#5e6270), to(#454545));
    background: -moz-linear-gradient(top, #5e6270, #454545);
    background: linear-gradient(to bottom, #5e6270, #454545);
}

#Experience_button{
    display: inline-block;
    text-align: center;
	margin-right: 130px;
    vertical-align: middle;
    padding: 6px 24px;
    border: 1px solid #5e6270;
    border-radius: 8px;
    background: #989fb6;
    background: -webkit-gradient(linear, left top, left bottom, from(#989fb6), to(#454545));
    background: -moz-linear-gradient(top, #989fb6, #454545);
    background: linear-gradient(to bottom, #989fb6, #454545);
    text-shadow: #3b3d46 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}

#Experience_button:hover, #Experience_button:focus{
    border: 1px solid ##757a8c;
    background: #b6bfda;
    background: -webkit-gradient(linear, left top, left bottom, from(#b6bfda), to(#535353));
    background: -moz-linear-gradient(top, #b6bfda, #535353);
    background: linear-gradient(to bottom, #b6bfda, #535353);
    color: #ffffff;
    text-decoration: none;
}

#Experience_button:active{
    background: #5e6270;
    background: -webkit-gradient(linear, left top, left bottom, from(#5e6270), to(#454545));
    background: -moz-linear-gradient(top, #5e6270, #454545);
    background: linear-gradient(to bottom, #5e6270, #454545);
}

#Award_button{
    display: inline-block;
    text-align: center;
	margin-right: 130px;
    vertical-align: middle;
    padding: 6px 24px;
    border: 1px solid #5e6270;
    border-radius: 8px;
    background: #989fb6;
    background: -webkit-gradient(linear, left top, left bottom, from(#989fb6), to(#454545));
    background: -moz-linear-gradient(top, #989fb6, #454545);
    background: linear-gradient(to bottom, #989fb6, #454545);
    text-shadow: #3b3d46 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}

#Award_button:hover, #Award_button:focus{
    border: 1px solid ##757a8c;
    background: #b6bfda;
    background: -webkit-gradient(linear, left top, left bottom, from(#b6bfda), to(#535353));
    background: -moz-linear-gradient(top, #b6bfda, #535353);
    background: linear-gradient(to bottom, #b6bfda, #535353);
    color: #ffffff;
    text-decoration: none;
}

#Award_button:active{
    background: #5e6270;
    background: -webkit-gradient(linear, left top, left bottom, from(#5e6270), to(#454545));
    background: -moz-linear-gradient(top, #5e6270, #454545);
    background: linear-gradient(to bottom, #5e6270, #454545);
}

a{
	color: #42b4d6;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

section{
	margin: 60px auto;
	display: flex;
	justify-content: center;
}

section span{
	margin-right: 40px;
	margin-left: -40px;
	font-family: Roboto Slab, serif;
	font-size: 36px;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.25);
}

section div{
	width: 66.67%;
	font-size: 21px;
	font-family: Source Sans Pro, sans-serif, Microsoft JhengHei;
}

section h1{
	font-family: Roboto Slab, serif;
	font-size: 36px;
	font-weight: bold;
}

#contact{
	margin-top: 50px;
	margin-bottom: 12px;
}

.p-label{
	margin-left: 2px;
	font-family: Roboto Slab, serif;
	font-size: 16px;
	color: black;
}

.u-email{
	margin-left: 2px;
}

li{
	margin-bottom: 5px;
}

section h3{
	margin-bottom: 20px;
	font-family: Roboto Slab, serif;
	font-size: 18px;
	font-weight: normal;
}

section p{
	margin-bottom: 20px;
	font-family: Source Sans Pro, sans-serif;
	font-size: 21px;
	line-height: 32px;
}

section img{
	width: 100%;
}
